/*This is the font plug-ins*/
@font-face {
    font-family: 'Imperial Script';
    src: url('../Fonts/Imperial_Script,Playwrite_CA/Playwrite_CA/PlaywriteCA-VariableFont_wght.ttf') format('truetype');
}

.fade {
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.contact-body {
    background-image: url('../Photos/studio4.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-position-y: 5vh;
    padding: 0;
    margin:0vw;
    background-color: rgb(251,242,241);
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

#business-container {
  padding: 2vh 0vw 0vw 0vw;
}

#business-container h2 {
  font-family: 'Imperial Script';
  margin: 0 0 1vh 0;
  justify-self: center;
}

#hours-div {
  display: flex;
  flex-direction: row;
  gap: 10vw;
  margin: 0vh 0vw 0vh 0vw;
  justify-content: center;
}
#hours-div p {
  line-height: 1.7;
  font-family: sans-serif;
}

#contact-hr {
    background-color: black;
    border-color: black;
    width: 100%;
}

#contact-us {
    text-align: center;
    font-family: sans-serif;
    padding-top: 1vh;
}