/*This is the font plug-ins*/
@font-face {
    font-family: 'Imperial Script';
    src: url('../Fonts/Imperial_Script,Playwrite_CA/Playwrite_CA/PlaywriteCA-VariableFont_wght.ttf') format('truetype');
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-out forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*MOBILE DISPLAY*/
@media  (max-width: 800px) {

    /*Disabling desktop display*/
    .desktop {
        display: none;
    }
    .tablet {
        display: none;
    }

    /*Main home welcome header*/
    #main-header {
        font-family: 'Imperial Script';
        font-weight: none;
        font-size: 50px;
        text-align: center;
        margin: 0;   
    }
    #welcome-message {
        font-family: sans-serif;
        line-height: 1.7;
        text-align: center;
    }
    #about-kendra-btn {
        display: flex; /* must be block-level for auto margin to work */
        margin: 2vw auto; /* center horizontally, and add vertical spacing */
        padding: .625rem 1.25rem;
        background-color: rgb(230,125,129);
        color: white;
        border: none;
        border-radius: .375rem;
        font-weight: bold;
        margin-top: 10vw;
    }

    #home-image {
        float: left;             
        margin: 2vh 2vw 2vh .5vw;
        border: solid white;
        border-width: .2rem;
        border-radius: 8rem;
        box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.5);
        width: 34%;
    }
    #home-hr {
        margin-top: 5vh;
        background-color: black;
        border-color: black;
    }
    #bridal-section {
        text-align: center;
    }
    #bridal-h1 {
        font-family:'Imperial Script';
        justify-self: center;
        margin-top: 4vh;
    }

    #home-bridal-p {
        text-align: center;
        margin: 0 0 5vh 0;
        line-height: 1.7;
        font-family: sans-serif;
    }

    #learn-more-btn {
        display: inline-block;
    padding: .625rem 1.25rem;
    background-color: rgb(230,125,129);
    color: white;
    border: none;
    border-radius: .375rem;
    font-weight: bold;
    margin-bottom: 10vw;
    }
}

/*DESKTOP DISPLAY*/
@media  (min-width: 1024px) {
    /*Disabling mobile display*/
    .mobile {
        display: none;
    }
    .tablet {
        display: none;
    }
    /*Main home welcome header*/
    #main-header {
        font-family: 'Imperial Script';
        font-weight: none;
        font-size: 75px;
        text-align: center;
        margin: 0 0 3vw 0;   
    }
    #welcome-message {
        font-family: sans-serif;
        line-height: 1.7;
        text-align: center;
        font-size: large;
        padding-right: 10vw;
    }

    #home-image {
        float: left;             
        margin: 0vh 2vw 2vh 0;
        border: solid white;
        border-width: .2rem;
        border-radius: 8rem;
        box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.5);
        width: 20%;
    }

    #about-div {
        justify-self: center;
    }

    #about-kendra-btn {
        align-self: center;
        padding: .625rem 1.25rem;
        background-color: rgb(230,125,129);
        color: white;
        border: none;
        border-radius: .375rem;
        font-weight: bold;
        font-size: large;
        font-family: sans-serif;
        margin-top: 3vw;
    }

    #home-hr {
        margin: 4vw 0 4vw 0;
        background-color: black;
        border-color: black;
    }
    #bridal-section {
        text-align: center;

    }
    #bridal-h1 {
        font-family:'Imperial Script';
        justify-self: center;
        margin-bottom: 3vw;
        font-size: 50px;
    }

    #home-bridal-p {
        text-align: center;
        margin: 0 0 3vw 0;
        line-height: 1.7;
        font-family: sans-serif;
        font-size: large;
        padding: 0 10vw 0 10vw;
    }

    #learn-more-btn {
    display: inline-block;
    padding: .625rem 1.25rem;
    background-color: rgb(230,125,129);
    color: white;
    border: none;
    border-radius: .375rem;
    font-weight: bold;
    font-size: large;
    }
}

#learn-more-btn:hover, #about-kendra-btn:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.2s ease;
}

@media  (min-width: 801px) and (max-width:1023px) {
  .desktop{
      display: none;
  }
  .mobile {
      display: none;
  }
}