/*MOBILE DISPLAY*/
@media  (max-width: 800px) {
    /*Disabling desktop display*/
    .desktop {
        display: none;
    }
    .tablet {
        display: none;
    }

    /*HEADER*/
    img {
        width:150px;
        margin: 0vw 0vw 0vw 1vw;
        align-self: center;
    }
    header {
        background-color: rgb(251,242,241);
        border-bottom: solid black;
        display: flex;
        flex-direction: column;
        gap: 0vw;
        margin-top: 0;
        align-items: center;
        justify-content: center;
        position: fixed;
        z-index: 1000;  /* stays above everything */
        width: 100%;
        padding: 0;
    }

    #book-button {
        border: solid black;
        padding:.3vw;
        font-family: serif;
        border-width: .5vw;
        font-size: large;
        background-color: rgb(230,125,129);
    }

    nav {
        display: flex;
        flex-direction: row;
        gap: 5vw;
        align-items: center;
        margin: 2vh 0 2vh 0;
        width: 100%;
        justify-content: center;
    }
    .hamburger {
        display: block;
        position: absolute;
        left: 20px;
        font-size: 24px;
        cursor: pointer;
    }

    #hamburger-nav {
        display: none;
        position: absolute;
        left: 0;
        flex-direction: column;
        background: rgb(251,242,241);
        top: 100%;
        width: 100%;
        gap: 2vh;
        padding: 5vw 5vh 2.4vw 5vh;
        border-bottom: solid rgb(230,125,129);
        border-width: .15rem;
    }
    #hamburger-nav a {
        color: black;
        font-family: serif;
        font-size: large;

    }
    .hamburger-line {
        width: 75%;
        color: rgb(230,125,129);
        margin-left: 0;
    }

    #hamburger-nav.active {
        display: flex;
    }

    a {
        text-decoration: none;
        color: black;
        font-family: serif;
        font-size: large;
    }

    /*BODY*/
    body {
        background-image: url('../Photos/Studio2.jpeg');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-position-y: 20vh;
        padding: 0;
        margin:0vw;
        background-color: rgb(251,242,241);
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;   
    }

    /*MAIN*/
    main {
    background: rgb(251,242,241);
    margin: 50vh 0vw 0vh 0vw;   /* height of header */
    padding: 0;
    width: 100%;
    box-shadow: 0 .5px 10px black;
    border-radius: 8px;
    height: 1000px;
    }

    /*FOOTER*/
    footer {
        background-color: rgb(251,242,241);
        font-family: Verdana, Tahoma, sans-serif;
        width: 100%;
        margin-top: 1vh;
    }
}

/*-------------------------------------------------------------------------------------------*/

/*DESKTOP DISPLAY*/
@media  (min-width: 1024px) {
    /*Disabling mobile display*/
    .mobile {
        display: none;
    }
    .tablet {
        display: none;
    }

    /*HEADER*/
    img {
        width:100px;
        margin: 0vw 0vw 0vw 1vw;

    }
    header {
        background-color: rgb(251,242,241);
        border-bottom: solid black;
        display: flex;
        flex-direction: row;
        gap: 5vw;
        margin-top: 0;
        align-items: center;
        position: fixed;
        z-index: 1000;  /* stays above everything */
        width: 100%;
        padding: 0;
    }

    nav {
        display: flex;
        flex-direction: row;
        gap: 5vw;
        margin-top: 3vw;
        margin-left: 48vw;
    }
    a {
        text-decoration: none;
        color: black;
        font-family: serif;
        font-size: large;
    }
    #home:hover {
        color: grey;
    }

    #about:hover {
        color: grey;
    }
    #services:hover {
        color: grey;
    }
    #products:hover {
        color: grey;
    }

    /*BODY*/
    body {
        background-image: url('../Photos/Studio2.jpeg');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-position-y: 0vh;
        padding: 0;
        margin:0;
        background-color: rgb(255,255,255);
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;   
    }

    /*MAIN*/
    main {
    background: rgb(251,242,241);
    margin-top: 90vh;   /* height of header */
    padding: 40px 20px;
    width: 100%;
    box-shadow: 0 .5px 10px black;
    border-radius: 8px;
    height: 1000px;
    }

    /*FOOTER*/
    footer {
        background-color: rgb(251,242,241);
        font-family: serif;
        width: 100%;
        margin-top: .1vh;
    }
}

/*---------------------------------------------------------------------------------*/
/*TABLET VERSION*/
@media  (min-width: 801px) and (max-width:999px) {
    .desktop{
        display: none;
    }
    .mobile {
        display: none;
    }
}