@font-face {
    font-family: 'Imperial Script';
    src: url('../Fonts/Imperial_Script,Playwrite_CA/Playwrite_CA/PlaywriteCA-VariableFont_wght.ttf') format('truetype');
}

@keyframes grow {
  from { transform: scaleY(0); opacity: 0; }
  to { transform: scaleY(1); opacity: 1; }
}
.grow {
  transform-origin: top;
  animation: grow 1.2s ease-out forwards;
}
/*MOBILE DISPLAY*/
@media  (max-width: 800px) {
  /*Disabling desktop display*/
  .desktop {
      display: none;
  }
  .tablet {
      display: none;
  }
  .services-body {
      background-image: url('../Photos/services.jpeg');
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      background-position-y: 20vh;
      padding: 0;
      margin:0vw;
      background-color: rgb(251,242,241);
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: center;   
  }

  .service-container {
  justify-items: center;
  padding-top: 2vw;
  padding-bottom: 2vw;
  font-family: 'Imperial Script';
  text-align: center;
  }

  .service-container h3 {
    margin: 1vh;
  }

  #description {
    font-family: sans-serif;
    text-align: center;
    line-height: 1.4;
  }
  .service-container hr {
      width: 75%;
      background-color: rgb(230,125,129);
      border-color: rgb(230,125,129);
  }

  #service-options-container {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    justify-content: center;
    align-content: center;
    padding: 2vw 0 2vw 0;
  }
  .service-option-btn {
    display: inline-block;
    padding: .625rem .625rem;
    background-color: rgb(249,213,211);
    color: black;
    border-radius: .375rem;
    font-weight: bold;
    border: solid white;
    border-width: .2rem;
    font-family: sans-serif;

  }
}

/*DESKTOP DISPLAY*/
@media  (min-width: 1024px) {
  /*Disabling mobile display*/
  .mobile {
      display: none;
  }
  .tablet {
      display: none;
  }
  .services-body {
      background-image: url('../Photos/services.jpeg');
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      padding: 0;
      margin:0vw;
      background-color: rgb(251,242,241);
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: center;   
  }

  .service-container {
  justify-items: center;
  padding: 1vh;
  font-family: 'Imperial Script';
  text-align: center;
  }

  .service-container h3 {
    margin: 1vh;
  }

  #description {
    font-family: sans-serif;
    text-align: center;
    line-height: 1.4;
  }
  .service-container hr {
      width: 75%;
      background-color: rgb(230,125,129);
      border-color: rgb(230,125,129);
  }

  #service-options-container {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    justify-content: center;
    align-content: center;
    padding: 2vw 20vw 2vw 20vw;
  }
  .service-option-btn {
    display: inline-block;
    padding: .625rem .625rem;
    background-color: rgb(249,213,211);
    color: black;
    border-radius: .375rem;
    font-weight: bold;
    border: solid white;
    border-width: .2rem;
    font-family: sans-serif;

  }
  .service-option-btn:hover  {
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  transform: translateY(-2px);
  transition: all 0.2s ease;
  cursor: pointer;
  }
  main #service-list-display p {
    padding: 0 10vw 0 10vw;
  }
}

@media  (min-width: 801px) and (max-width:1023px) {
  .desktop{
      display: none;
  }
  .mobile {
      display: none;
  }
}